<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .target {
            background-color: red;
        }
    </style>
    <title>Title</title>
</head>
<body>
<!--기본-->
<ul>
    <li th:each="dto, state : ${list}">
        [[${state.index}]] --- [[${state.count}]] --- [[${dto}]]
    </li>
</ul>
<hr/>
<!--인덱스, 카운트-->
<ul>
    <li th:each="dto, state : ${list}" th:if="${dto.sno} % 5 == 0">
        [[${state.index}]] --- [[${state.count}]] --- [[${dto}]]
    </li>
</ul>
<hr/>
<!--each, if, unless-->
<ul>
    <li th:each="dto, state : ${list}">
        <span th:if="${dto.sno % 5 == 0}" th:text="${'----------' + dto.sno}"></span>
        <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
    </li>
</ul>
<hr/>
<!--3항 연산자-->
<ul>
    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
</ul>
<hr/>
<!--클래스 넣기-->
<ul>
    <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}"></li>
</ul>
<hr/>
<!--block-->
<ul>
    <th:block th:each="dto : ${list}">
        <li th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
    </th:block>
</ul>
</body>
</html>